/*
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it
is easier to update the theme. Simply copy an existing style
from style.css to this file, and modify it to your liking. */
/*
GLOBAL STYLES
----------------
Add styles beneath this line that you want to be applied across your entire site */
/*
DESKTOP STYLES
-----------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site */
@media only screen and (min-width: 768px) {
  /* Desktop styles go here */ }
body.body #wrapper #inner-wrapper {
  background-color: black;
  color: white; }
  body.body #wrapper #inner-wrapper a, body.body #wrapper #inner-wrapper p, body.body #wrapper #inner-wrapper h1, body.body #wrapper #inner-wrapper h2 {
    color: white; }
  body.body #wrapper #inner-wrapper #header {
    border-right: 2px solid #909090; }
    body.body #wrapper #inner-wrapper #header .site-title, body.body #wrapper #inner-wrapper #header .site-description {
      text-align: center; }
  body.body #wrapper #inner-wrapper #main_slider {
    overflow: hidden; }
    body.body #wrapper #inner-wrapper #main_slider img {
      display: block;
      float: left; }
    body.body #wrapper #inner-wrapper #main_slider div.scrollWrapper {
      position: relative;
      overflow: hidden;
      width: 100%; }
    body.body #wrapper #inner-wrapper #main_slider div.scrollableArea {
      position: relative;
      width: auto; }
